body {
	background-color: lightgreen;
}

.cat-card {
	margin: 10px;
	min-height: 400px;
	border: solid black 2px;
	box-shadow: 5px 5px 5px #888888;
	background-color: white;
}

img {
	max-width:100%;
	max-height:100%;
}

h1, header {
	text-align: center;
}

.image-container {
	margin-top: 10px;
}

.attr {
	font-weight: bold;
}

.disabled-cat {
	color: red;
}

#btn-hide-catz {
	display: block;
	margin: 0 auto;
}